.modal {
  width: 700px;
  margin-left: -340px;
}
.modal-body {
  position: relative;
  max-height: 580px;
  padding: 15px;
  overflow-y: auto;
  text-align: center;
}
.modal-header{
  padding-bottom: 40px;
}
.caption {
  text-align: center;
}
