.table td {
  text-align: center;
}

.category {
position:relative;
display: inline-block;
float:center;
padding:10px;
}

.img-big {
    width: 100px;
    height: auto;
}
.img-med-3 {
     width: 175px;
    height: auto;
}
.img-med {
     width: 40px;
    height: auto;
}
.img-med-sml {
     width: 60px;
    height: auto;
}

#hello {
    text-align: center;
}

#oracle{
    width: 140px;
    height: auto;
}

#mongo {
     width: 100px;
    height: auto;
}

#golang {
  width: 40px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
